.cadscuriosidades h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 20px;

}

.cadscuriosidades p{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
}