.ong {
  
  border-radius: 10px;
  background-color: #f3f3f3;
  padding: 25px;
  display: flex;
  align-items: center;
  max-width: 960px;
  margin: 50px auto;
}

.imgLogo {
  width: 100%;
  max-width: 200px;
  margin-right: 50px;
  border-radius: 10px;
}

.mensagem-titulo {
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
  font-size: 24px;
  align-self: start;
  justify-content: center;
  }

.mensagem-texto {
   font-family: 'Lato', sans-serif;
  margin: 0;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 20px;
}

.ong hr {
  max-width: 200px;
  margin-left: 0;
}

