.img__banner{
    width: 100%;
    max-height: 65vh;
    object-fit: cover;
} 

.sessao-info hr{
    max-width: 100%;
    margin-left: 0;
    height: 5px;
}
.videosDoc{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5%;
}

.titulo-doc{
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
}

.link{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: red;
}

.card{
    margin: auto;
}