.footer{
    background-color:rgb(138, 188, 24);
    font-family: 'Fjalla One', sans-serif; 
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

p{
    padding-top: 10px;
    font-size: 14px;

}


